# 📂 Python 관련
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
semi1_env/
*.egg-info/

# 📂 Docker 관련
logs/*.log  
docker-compose.override.yml
.env
!.env.example  

# 📂 MongoDB 관련
data/mongodb/  
!init-mongo.js  
data/mongodb/mongod.lock  
data/mongodb/*.wt  
data/mongodb/journal/  
data/mongodb/diagnostic.data/  

# 📂 Elasticsearch 관련
data/elasticsearch/  
data/elasticsearch/node.lock  
data/elasticsearch/snapshot_cache/  
data/elasticsearch/indices/  

# 📂 VSCode / JetBrains / 기타 개발 환경
.vscode/
.idea/
*.iml

# 📂 OS 관련 (Mac / Windows)
.DS_Store
Thumbs.db

# 📂 세션 및 기타 불필요한 파일
session_name.session
session_name.session-journal
*.session-journal
